@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.searchSection {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 0.8rem 1.1rem;
  border-radius: 8px;
  outline: none;
}

.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
